<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.min.css">
  <title>{{ title }}</title>
</head>
<body style="background-color: #e3f2fd;">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#dashboard">{{ title }}</a>

      <ul class="navbar-nav me-auto nav nav-underline">
        <li class="nav-item">
          <a id="map-link" class="nav-link" href="#map" data-bs-toggle="tooltip" data-bs-title="Klik 2x untuk halaman penuh">Map</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="dashboard" class="container grid">
    <div class="col py-2">
      <div class="card rounded-4 shadow border-0">
        <div id="covid-chart" class="card-body">
          <h5 class="card-title">Statistik Covid-19 Tahun <input type="number" class="border-0 border-bottom"></h5>
          <canvas height="80"></canvas>
        </div>
      </div>
    </div>

    <div class="col py-2">
      <div class="card rounded-4 shadow border-0">
        <div id="dbd-chart" class="card-body">
          <h5 class="card-title">Statistik DBD Tahun <input type="number" class="border-0 border-bottom"></h5>
          <canvas height="80"></canvas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 py-2">
        <div class="card rounded-4 shadow border-0">
          <div class="card-body">
            <h5 class="card-title">Top kota terdampak Covid-19</h5>
            
            <table id="covid-table" class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Nama Kota</th>
                  <th scope="col">Jumlah</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-6 p-2">
        <div class="card rounded-4 shadow border-0">
          <div class="card-body">
            <h5 class="card-title">Top kota terdampak DBD</h5>

            <table id="dbd-table" class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Nama Kota</th>
                  <th scope="col">Jumlah</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 py-2">
        <div class="card rounded-4 shadow border-0">
          <div id="stunting-chart" class="card-body">
            <h5 class="card-title">Besaran data Stunting <input type="number" class="border-0 border-bottom"></h5>
            <canvas></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-6 p-2">
        <div class="card rounded-4 shadow border-0">
          <div class="card-body">
            <h5 class="card-title">Top kota terdampak Stunting</h5>

            <table id="stunting-table" class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Nama Kota</th>
                  <th scope="col">Jumlah</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="map" class="d-none">
    <iframe src="/map" style="height: calc(100vh - 64px); width: 100%;"></iframe>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    $(document).ready(function () {
      const header = {
        'x-api-key': 'YXVsaWFpbm92YXNpQDEyMw=='
      };
      let canvas = {
        '#covid-chart': null,
        '#dbd-chart': null,
        '#stunting-chart': null
      };

      tabView(window.location.hash);

      $(window).on('hashchange', function(e){
        tabView(window.location.hash);
      });

      $('#map-link').on('dblclick', function () {
        window.open('/map');
      });

      function tabView(hash) {
        switch (hash) {
          case '#map':
            $('#dashboard').addClass('d-none');
            $('#map').removeClass('d-none');
            $('#map-link').addClass('active');
            break;

          default:
            $('#dashboard').removeClass('d-none');
            $('#map').addClass('d-none');
            $('#map-link').removeClass('active');
            break;
        }
      }

      $('input[type=number]').val(new Date().getFullYear());
      refreshCovid();
      refreshDbd();
      refreshStunting();

      $('#covid-chart').find('input').change(function () {
        refreshCovid();
      });

      $('#dbd-chart').find('input').change(function () {
        refreshDbd();
      });
      $('#stunting-chart').find('input').change(function () {
        refreshStunting();
      });

      function refreshCovid() {
        generateChart('e089ad6b-e03e-4ab5-8c6a-5ce65455e713', '#covid-chart', 'bar', $('#covid-chart').find('input').val());
        generateTable('e089ad6b-e03e-4ab5-8c6a-5ce65455e713', '#covid-table', $('#covid-chart').find('input').val());
      }

      function refreshDbd() {
        generateChart('273ae965-761e-446e-b11c-310df7783a8a', '#dbd-chart', 'bar', $('#dbd-chart').find('input').val());
        generateTable('273ae965-761e-446e-b11c-310df7783a8a', '#dbd-table', $('#dbd-chart').find('input').val());
      }

      function refreshStunting() {
        generateChart('625b981a-09ea-4328-bd2c-4295df14e932', '#stunting-chart', 'pie', $('#stunting-chart').find('input').val());
        generateTable('625b981a-09ea-4328-bd2c-4295df14e932', '#stunting-table', $('#stunting-chart').find('input').val());
      }

      function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }

      function generateRandomColor() {
        const red = getRandomInt(0, 255);
        const green = getRandomInt(0, 255);
        const blue = getRandomInt(0, 255);

        return `rgb(${red}, ${green}, ${blue})`;
      }

      function generateChart(outbreakCategoryId, elementId, chartType, year) {
        const months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
        const query = `query Chart {
          chart(outbreakCategoryId: "${outbreakCategoryId}", year: "${year}") {
            month
            dead
            sufferer
          }
        }`;

        $.ajax({
          url: '/graphql',
          method: 'POST',
          contentType: 'application/json',
          headers: header,
          data: JSON.stringify({ query: query }),
          success: function (data) {
            const chartData = data.data.chart.map(value => value.dead + value.sufferer);
            const chartBackgroundColor = chartType == 'pie' ? data.data.chart.map(value => generateRandomColor()) : "rgb(173, 216, 230)";

            if (canvas && canvas[elementId]) {
              canvas[elementId].data.datasets[0].data = chartData;
              canvas[elementId].data.datasets[0].backgroundColor = chartBackgroundColor;

              canvas[elementId].update();
              return;
            }

            $(elementId).find('input').val(year);
            canvas[elementId] = new Chart($(elementId).find('canvas')[0].getContext('2d'), {
              type: chartType,
              data: {
                labels: months,
                datasets: [
                  {
                    label: "Bulan",
                    data: chartData,
                    backgroundColor: chartBackgroundColor
                  }
                ]
              }
            });
          }
        });
      }

      function generateTable(outbreakCategoryId, elementId, year) {
        const query = `query CityTop {
          cityTop(outbreakCategoryId: "${outbreakCategoryId}", year: "${year}", limit: 6) {
            cityName
            affected
          }
        }`;

        $.ajax({
          url: '/graphql',
          method: 'POST',
          contentType: 'application/json',
          headers: header,
          data: JSON.stringify({ query: query }),
          success: function (data) {
            const tableBody = $("<tbody>");

            $(elementId).find("tbody").empty();

            for (let index = 0; index < data.data.cityTop.length; index++) {
              const element = data.data.cityTop[index];
              const tableRow = $("<tr>");

              tableRow.append(`<td>${index + 1}</td>`);
              tableRow.append(`<td>${element.cityName}</td>`);
              tableRow.append(`<td>${element.affected}</td>`);
              tableBody.append(tableRow);
            }

            $(elementId).append(tableBody);
          }
        });
      }
    });

    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
  </script>
</body>
</html>